@import url(text.css);
@import url(color.css);

.about-prim{
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .about-prim__image{
    position: relative;
    flex: 4;
    }

    .about-prim__image--line{
    max-width: 100%;
    max-height: 100%;
    border-radius: 24px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    border: 1px solid transparent;
    z-index: 2;
    }

    .about-prim__image__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .about-prim__image__shadow--blur{
        border-radius: 84px;
        position: absolute;
        top: 13%;
        right:0;
        bottom: 13%;
        left:0;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    }

    .about-prim__article{
        flex: 7;
        margin-left: 110px;
        display: flex;
        flex-direction: column;
        margin-top: -15px;
        gap: 64px;
    }

.about-sec{
    margin-top: 110px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}
    .about-sec__article{
        flex: 7;
        margin-right: 110px;
        display: flex;
        flex-direction: column;
        margin-top: -15px;
        gap: 64px;
    }

.educ{
  margin-top: 124px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

    .educ--main-title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }

    .educ__instit-spec-date{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
    }

    .educ__instit-spec-date--institution-title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h5-headline-size);
        line-height: var(--h5-headline-height);
        letter-spacing: var(--h5-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .educ__speciality-date{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
    }

    .educ__speciality-date--speciality{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--s1-subtitle-size-size);
        line-height: var(--s1-subtitle-size-height);
        letter-spacing: var(--s1-subtitle-size-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .educ__speciality-date--date{
        font-family: var(--font-default);
        font-style: italic;
        font-weight: var(--font-weight-default);
        font-size: var(--s1-subtitle-size-size);
        line-height: var(--s1-subtitle-size-height);
        letter-spacing: var(--s1-subtitle-size-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }

.exper-skills-group{
    margin-top: 160px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}
    

.exper{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

    .exper--main-title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }

    .exper__firm-role-date{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 12px;
    }

    .exper__firm-role-date__firm{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
    }

    .exper__firm-role-date__firm--name{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h5-headline-size);
        line-height: var(--h5-headline-height);
        letter-spacing: var(--h5-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .exper__firm-role-date__firme--project{
        font-family: var(--font-default);
        font-style: italic;
        font-weight: var(--font-weight-default);
        font-size: var(--s1-subtitle-size-size);
        line-height: var(--s1-subtitle-size-height);
        letter-spacing: var(--s1-subtitle-size-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }   
     .exper__firm-role-date__role{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 8px;
    }

    .exper__firm-role-date__role--function{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--s1-subtitle-size-size);
        line-height: var(--s1-subtitle-size-height);
        letter-spacing: var(--s1-subtitle-size-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .exper__firm-role-date__role--date{
        font-family: var(--font-default);
        font-style: italic;
        font-weight: var(--font-weight-default);
        font-size: var(--s1-subtitle-size-size);
        line-height: var(--s1-subtitle-size-height);
        letter-spacing: var(--s1-subtitle-size-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }  

.skills{
    flex: 6;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    }
    .skills--main-title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }
    .skills__items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }

    .skills__items--subtitle{
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--h5-headline-size);
    line-height: var(--h5-headline-height);
    letter-spacing: var(--h5-headline-spacing);
    color: var(--labels-dark-1-primary-label-color);
}

    .skills__items__group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
    }
    .skills__items__group--value{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 4px 20px;
        gap: 8px;
        border-radius: 32px;
        
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: var(--s2-subtitle-size);
        line-height: var(--s2-subtitle-height);
        letter-spacing: var(--s2-subtitle-spacing);
        color: var(--labels-dark-1-primary-label-color);
            background: linear-gradient(#292A30, #292A30) padding-box,
            linear-gradient(277.4deg, #AC00A5 0%, #FF6B00 100%) border-box;
            border: 1px solid transparent; 
        }
        
@media all and (min-width: 1200px) and (max-width: 1400px){

}

@media all and (min-width: 992px) and (max-width: 1199px){

    .about-prim {
        margin-top: 88px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
    }

    .about-prim__image {
        position: relative;
        flex: 5;
    }

    .about-prim__image--line {
        max-width: 88%;
    }

    .about-prim__article {
        flex: 7;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 16px;
    }
    
    .about-sec {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
    }
    .about-sec__article {
        flex: 7;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 64px;
    }
    .educ {
        margin-top: 88px;
    }

    .exper-skills-group {
        margin-top: 109px;
    }
    .title-2-style {
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 991px){
    .about-prim {
        margin-top: 64px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
    }

    .about-prim__image {
        position: relative;
        flex: 5;
    }

    .about-prim__image--line {
        max-width: 94%;
    }

    .about-prim__article {
        flex: 7;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        margin-top: -16px;
        gap: 12px;
    }

    .about-sec {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 24px;
    }
    .about-sec__article {
        flex: 7;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        gap: 64px;
    }

    .educ {
        margin-top: 64px;
    }

    .exper-skills-group {
        margin-top: 72px;
    }

    .paragraph-0-style {
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--b1-body-size);
        line-height: var(--b1-body-height);
        letter-spacing: var(--b1-body-spacing);
        color: var(--labels-dark-2-secondary-label-color);
        margin: 0;
    }

    .title-2-style {
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

    .educ--main-title {
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .skills--main-title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }
}

@media all and (min-width: 576px) and (max-width: 767px){

    .about-prim{
        margin-top: 48px;
        flex-direction: column;
        gap: 32px;
    }

        .about-prim__image__shadow--blur{
            filter: blur(80px);
        }
    
        .about-prim__article{
            margin-left: 0px;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
        }
        
    .about-sec{
        margin-top: 48px;
        flex-direction: column;
        gap: 24px;
    }
        .about-sec__article{
            order: 2;
            margin-right: 0px;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
        }

    .educ{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
      }
      
        .educ--main-title{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--h3-headline-size);
            line-height: var(--h3-headline-height);
            letter-spacing: var(--h3-headline-spacing);
            color: var(--labels-dark-1-primary-label-color); 
        }
    
        .educ__instit-spec-date{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 12px;
        }
    
        .educ__instit-spec-date--institution-title{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--h5-headline-size);
            line-height: var(--h5-headline-height);
            letter-spacing: var(--h5-headline-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }
    
        .educ__speciality-date{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 0px;
        }
    
        .educ__speciality-date--speciality{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--s1-subtitle-size-size);
            line-height: var(--s1-subtitle-size-height);
            letter-spacing: var(--s1-subtitle-size-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }
    
        .educ__speciality-date--date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-default);
            font-size: var(--s1-subtitle-size-size);
            line-height: var(--s1-subtitle-size-height);
            letter-spacing: var(--s1-subtitle-size-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }
    .exper-skills-group{
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;
    }
    .exper{
        gap: 32px;
    }
    .skills{
        gap: 32px;
    }
}

@media all and (min-width: 320px) and (max-width: 575px){
            
    .about-prim{
        margin-top: 48px;
        flex-direction: column;
        gap: 32px;
    }

        .about-prim__image__shadow--blur{
            filter: blur(80px);
        }
    
        .about-prim__article{
            margin-left: 0px;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
        }
        
    .about-sec{
        margin-top: 48px;
        flex-direction: column;
        gap: 24px;
    }
        .about-sec__article{
            order: 2;
            margin-right: 0px;
            flex-direction: column;
            margin-top: 0px;
            gap: 24px;
        }

    .educ{
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
      }
      
        .educ--main-title{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--h3-headline-size);
            line-height: var(--h3-headline-height);
            letter-spacing: var(--h3-headline-spacing);
            color: var(--labels-dark-1-primary-label-color); 
        }
    
        .educ__instit-spec-date{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 12px;
        }
    
        .educ__instit-spec-date--institution-title{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--h5-headline-size);
            line-height: var(--h5-headline-height);
            letter-spacing: var(--h5-headline-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }
    
        .educ__speciality-date{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 0px;
        }
    
        .educ__speciality-date--speciality{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--s1-subtitle-size-size);
            line-height: var(--s1-subtitle-size-height);
            letter-spacing: var(--s1-subtitle-size-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }
    
        .educ__speciality-date--date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-default);
            font-size: var(--s1-subtitle-size-size);
            line-height: var(--s1-subtitle-size-height);
            letter-spacing: var(--s1-subtitle-size-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }
    .exper-skills-group{
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 64px;
    }
    .exper{
        gap: 32px;
    }
    .skills{
        gap: 32px;
    }
}





/* 
@media all and (min-width: 1200px) and (max-width: 1400px){
    
}

@media all and (min-width: 992px) and (max-width: 1199px){
    
}

@media all and (min-width: 768px) and (max-width: 991px){

}

@media all and (min-width: 576px) and (max-width: 767px){

}

@media all and (min-width: 320px) and (max-width: 575px){

}
*/
