@import url(text.css);
@import url(color.css);

body{
    background-color: var(--system-backgrounds-dark-1-system-background-primary);
}

.wrapper {
    margin: auto;
    max-width: 1296px;
}

.full-block{
    margin-top: 40px;
    display: flex; 
    flex-direction: column;
    gap: 24px;
}

.image-block{
    position: relative;
    }

.imag-styles{
    border-radius: 32px;
    max-width: 100%;
    max-height: 100%;
}
@media all and (max-width: 600px){
    .imag-styles {border-radius: 16px;}
    .full-block {gap: 12px;}
}


