@import url(text.css);
@import url(color.css);


.contact-sec{
    margin-top: 110px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}
    .contact-sec__contact{
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .contact-sec__contact__up{
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .contact-sec__contact--title{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }

    .contact-sec__contact__email-phone{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .contact-sec__contact__email-phone--email{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: var(--h5-headline-size);
        line-height: var(--h5-headline-height);
        letter-spacing: var(--h5-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }

    .contact-sec__contact__email-phone--phone{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: var(--h5-headline-size);
        line-height: var(--h5-headline-height);
        letter-spacing: var(--h5-headline-spacing);
        color: var(--labels-dark-1-primary-label-color); 
    }

    .contact-sec__social{
        display: flex;
        flex-direction: column;
        gap: 42px;
        flex-grow: 1;
        padding-right: 46%;
    }
    .contact-sec__social--link-size{
        display: contents;
    }

    .contact-sec__social--butt-size{
        flex-grow: 1;
    }

.globe-cont{
    margin-top: -32px;
    position: relative;
    flex: 7;
}
    .globe-cont--size-imag{
    max-width: 100%;
    max-height: 100%;
    }

    .globe-cont__image__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .globe-cont__image__shadow--blur{
        border-radius: 450px;
        position: absolute;
        top: 0%;
        right:8%;
        bottom: 30%;
        left:8%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 30s linear infinite;

    }

    @keyframes animate {
        0%{
            transform: rotate(0deg);}
        100%{
            transform: rotate(360deg);
        }
    }


@media all and (min-width: 1200px) and (max-width: 1400px){

}
@media all and (min-width: 992px)and (max-width: 1199px){

    .contact-sec__contact {
        gap: 32px;
    }

    .contact-sec__contact__up {
        gap: 48px;
    }
    .contact-sec__social {
        gap: 24px;
        padding-right: 32%;
    }

    .contact-sec__contact__email-phone {
        gap: 8px;
    }

}

@media all and (min-width: 768px)and (max-width: 991px){

    .contact-sec {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .contact-sec__contact {
        gap: 32px;
    }

    .contact-sec__contact__up {
        gap: 56px;
    }
    .contact-sec__social {
        gap: 24px;
        padding-right: 0%;
        flex-direction: row;
        flex-grow: 1;
    }

    .contact-sec__contact__email-phone {
        gap: 8px;
    }

    .globe-cont {
        margin-top: 0px;
    }

    .contact-sec__contact--title {
        align-self: center;
    }

    .contact-sec__contact__email-phone--email{
        align-self: center;
    }

    .contact-sec__contact__email-phone--phone{
        align-self: center;
    }
    

}


@media all and (min-width: 576px)and (max-width: 767px){
    .globe-cont {
        margin-top: 24px;
        position: relative;
        flex: 7;
    }

    .contact-sec {
        margin-top: 42px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .contact-sec__social {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-grow: 1;
        padding-right: 20%;
        padding-left: 20%;
    }
    .contact-sec__contact__up {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .contact-sec__contact__email-phone {
        gap: 8px;
    }

    .contact-sec__contact {
        gap: 32px;
    }

    .contact-sec__contact--title {
        align-self: center;
    }

    .contact-sec__contact__email-phone--email{
        align-self: center;
    }

    .contact-sec__contact__email-phone--phone{
        align-self: center;
    }

    .globe-cont__image__shadow--blur{
        filter: blur(56px);
    }

}

@media all and (min-width: 320px)and (max-width: 575px){
    .globe-cont {
        margin-top: 24px;
        position: relative;
        flex: 7;
    }

    .contact-sec {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .contact-sec__social {
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-grow: 1;
        padding-right: 10%;
        padding-left: 10%;
    }
    .contact-sec__contact__up {
        display: flex;
        flex-direction: column;
        gap: 56px;
    }

    .contact-sec__contact__email-phone {
        gap: 8px;
    }

    .contact-sec__contact {
        gap: 32px;
    }

    .contact-sec__contact--title {
        align-self: center;
    }

    .contact-sec__contact__email-phone--email{
        align-self: center;
    }

    .contact-sec__contact__email-phone--phone{
        align-self: center;
    }

    .globe-cont__image__shadow--blur{
        filter: blur(40px);
    }
}
