@import url(text.css);
@import url(color.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
  border-radius: var(--corner-radius-xxl, 32px);
  background: var(--color-backgrounds-tertiary, #202123);
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: var(--color-backgrounds-quaternary, #27282A);
  }
  
  ::-webkit-scrollbar-track {
  border-radius: var(--corner-radius-xxl, 32px);
  border: 1px solid var(--color-backgrounds-tertiary, #202123);
  background: rgba(26, 27, 29, 0.50);
  }
  

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--system-backgrounds-dark-1-system-background-primary);
}

header{
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-end;
}


    .logo-style{
        flex-grow: 5;
        flex-basis: 0%;
        flex-shrink: 1;
    }

    nav{
        list-style: none;
        flex-grow: 7;
        flex-basis: 0%;
        flex-shrink: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

footer{
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 56px 24px;
    border-top: 1px solid var(--fills-dark-3-tertiary); 
}

    .footer-nav{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
    }
    

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.a-header{
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: var(--s2-subtitle-size);
    line-height: var(--s2-subtitle-height);
    letter-spacing: var(--s2-subtitle-spacing);
    cursor: pointer;
    color: var(--labels-dark-1-primary-label-color);
}

    .a-header::after { 
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 1px;
        width: 0;
        background: linear-gradient(102.73deg,#70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    .a-header:hover::after { 
        width: 100%; 
        left: 0; 
    }

    .a-nav-header{
        position: relative;
        padding-bottom: 4px;
        text-decoration: none;
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: var(--s2-subtitle-size);
        line-height: var(--s2-subtitle-height);
        letter-spacing: var(--s2-subtitle-spacing);
        cursor: pointer;
        color: var(--labels-dark-1-primary-label-color);
        background-image: url(../portofolio/line.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        
    }
    .a-nav-header::after { 
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 1px;
        width: 0;
        background: linear-gradient(102.73deg,#70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
    
        .a-nav-header:hover::after { 
        width: 100%; 
        left: 0; 
        }

.main-style {
    margin: auto;
    max-width: 1296px;
}

.banner-cont{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

    .banner-cont__imag-cont{
        position: relative;
        flex: 5;
    }

    .banner-cont__imag-cont--imag-size{
        margin-left: -40%;
        max-width: 200%;
        max-height: 200%;
    }

    .banner-cont__imag-text{
        margin-top: 9%;
        position: relative;
        flex: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .banner-cont__imag-text--imag-size{
        max-width: 100%;
        max-height: 100%;
    }

.position-button{
    align-self: self-start;
    margin-top: 16px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 210px;  
}

.pro-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .pro-cont__imag{
        position: relative;
        flex: 6;
        width: 100%;
    }

    .con_imag_right{
        flex: 6;
        position: relative;
        width: 93%;
        aspect-ratio: 1272 / 1687;
        margin: auto; 
        margin-left: 6%;
        margin-right: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .con_imag_left{
        flex: 6;
        position: relative;
        width: 93%;
        aspect-ratio: 159 / 164;
        margin: auto; 
        margin-left: 0%;
        margin-right: 6%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .imag_1{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .imag_2{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .imag_3{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
      .imag_4{
        position: absolute;
        top: 0;
        width: 100%;
        height: auto;
        object-fit: cover;

      }
    

    .pro-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .pro-cont__imag__shadow--size-shadow{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 30%;
        right:60%;
        bottom: 10%;
        left: 10%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .pro-cont__descrioptio{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }
    
    .design-syst-cont__image__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 12%;
        right: 30%;
        bottom: 12%;
        left: 32%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .shop2-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right:50%;
        bottom: 10%;
        left: 8%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .shop3-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 0%;
        right: 35%;
        bottom: 0%;
        left: 35%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .bioprot-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right:40%;
        bottom: 10%;
        left: 24%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #70C6BB 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #D1E435 69.69%, #70C6BB 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .book-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right: 20%;
        bottom: 18%;
        left: 50%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .eco-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 0%;
        right: 30%;
        bottom: 0%;
        left: 30%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #70C6BB 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #D1E435 69.69%, #D1E435 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

@keyframes animate {
    0%{
        transform: rotate(0deg);}
    100%{
        transform: rotate(360deg);
    }
}


.title-2-style{
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-headline-size);
    line-height: var(--h2-headline-height);
    letter-spacing: var(--h2-headline-spacing);
    color: var(--labels-dark-1-primary-label-color);
    margin: 0;
}

    .paragraph-0-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--b0-body-size);
        line-height: var(--b0-body-height);
        letter-spacing: var(--b0-body-spacing);
        color: var(--labels-dark-2-secondary-label-color);
        margin: 0;
    }
    .role-date{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .role{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--s1-subtitle-size);
        line-height: var(--s1-subtitle-height);
        letter-spacing: var(--s1-subtitle-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .date{
        font-family: var(--font-default);
        font-style: italic;
        font-weight: var(--font-weight-bold);
        font-size: var(--s1-subtitle-size);
        line-height: var(--s1-subtitle-height);
        letter-spacing: var(--s1-subtitle-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }

    .footer-text{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--c1-caption-size);
        line-height: var(--c1-caption-height);
        letter-spacing: var(--c1-caption-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }
    

.pictogram-24{
width: 24px;
height: 24px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 14px 24px;
    gap: 12px;
    border-radius: 32px;
    
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: var(--bu1-button-size);
    line-height: var(--bu1-button-height);
    letter-spacing: var(--bu1-button-spacing);
    color: var(--labels-dark-1-primary-label-color);

    background: linear-gradient(#292A30, #292A30) padding-box,
    linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    border: 1px solid transparent; 
}

    button:hover{
        background: linear-gradient(#323338, #323338) padding-box,
        linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        border: 1px solid transparent; 
    }

    button:active{
        background: linear-gradient(#292A30, #292A30) padding-box,
        linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        border: 1px solid transparent; 
    }

    .button-resize-butoon {
        padding-left: 48px;
        padding-right: 48px;
    }

@media all and (min-width: 1200px) and (max-width: 1400px){
    
    .main-style {
        margin-left: 32px;
        margin-right: 32px;
    }

    header{
        margin-left: 32px;
        margin-right: 32px;
    }

    footer{
        margin-top: 164px;
        margin-left: 32px;
        margin-right: 32px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px){
    
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-left: 24px;
        margin-right: 24px;
    }

    footer{
        margin-top: 140px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .projects-list{
        gap: 160px;  
        margin-top: 0px;
    }
    
    .pro-cont__descrioptio {
        gap: 16px;
    }
        .pro-cont__imag__shadow--size-shadow{
            filter: blur(56px);   
        }

        .design-syst-cont__image__shadow--size {
            filter: blur(56px);   
        }

        .shop2-cont__imag__shadow--size {
            filter: blur(56px);  
        }

        .shop3-cont__imag__shadow--size {
            filter: blur(56px);  
        }

        .bioprot-cont__imag__shadow--size {
            filter: blur(56px);  
        }

        .book-cont__imag__shadow--size{
            filter: blur(56px);
        }

        .eco-cont__imag__shadow--size {
            filter: blur(56px);  
        }

    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

    .paragraph-0-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--b0-body-size);
        line-height: 32px;
        letter-spacing: var(--b0-body-spacing);
        color: var(--labels-dark-2-secondary-label-color);
        margin: 0;
    }

}

@media all and (min-width: 768px) and (max-width: 991px){
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    footer{
        margin-top: 124px;
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 16px;
        border-top: 1px solid var(--fills-dark-3-tertiary); 
    }
    
        .footer-nav{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
        }

        .projects-list{
            gap: 160px;  
            margin-top: 0px;
        }

    .pro-cont__descrioptio {
        gap: 16px;
    }
        .pro-cont__imag__shadow--size-shadow{
            filter: blur(48px);   
        }

        .design-syst-cont__image__shadow--size {
            filter: blur(48px);   
        }

        .shop2-cont__imag__shadow--size {
            filter: blur(48px);  
        }

        .shop3-cont__imag__shadow--size {
            filter: blur(48px);  
        }

        .bioprot-cont__imag__shadow--size {
            filter: blur(48px);  
        }

        .book-cont__imag__shadow--size{
            filter: blur(48px);
        }

        .eco-cont__imag__shadow--size {
            top: 10%;
            right: 30%;
            bottom: 10%;
            left: 30%;
            filter: blur(48px);  
        }


    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }
        

}

@media all and (min-width: 576px) and (max-width: 767px){
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }

    nav {
        flex-grow: 24;
    }

    footer{
        margin-top: 88px;
        margin-left: 24px;
        margin-right: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 16px;
        border-top: 1px solid var(--fills-dark-3-tertiary); 
    }
    
        .footer-nav{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
        }

    .position-button{
        margin-top: 16px;
        align-self: center;
    }
    
    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }


    .banner-cont{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }
        .banner-cont__imag-cont{
            position: relative;
            margin-left: -16px;
            margin-right: -16px;
            overflow: hidden;
        }

        .banner-cont__imag-text{
            margin-top: -48%;
            gap: 20px;
        }

        .banner-cont__imag-cont--imag-size{
            margin-left: -10%;
            max-width: 150%;
            max-height: 150%;
        }

        .banner-cont__imag-text--imag size{
            max-width: 100%;
            max-height: 100%;
        }

    .projects-list{
        gap: 124px;  
    }


    .pro-cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .pro-cont__imag{
            position: relative;
            order: 1;
        }

        .pro-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .pro-cont__imag__shadow--size-shadow{
            filter: blur(56px);
        }

        .pro-cont__descrioptio{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }

        .design-syst-cont__image__shadow--size{
            top: 4%;
            right: 30%;
            bottom: 4%;
            left: 32%;
            filter: blur(56px);
        }

        .shop2-cont__imag__shadow--size{
            filter: blur(56px);
        }

        .shop3-cont__imag__shadow--size{
            top: 0%;
            right: 35%;
            bottom: 15%;
            left: 35%;
            filter: blur(56px);
        }

        .bioprot-cont__imag__shadow--size{
            filter: blur(56px);
        }

        .book-cont__imag__shadow--size{
            top: 20%;
            right: 20%;
            bottom: 18%;
            left: 50%;
            filter: blur(56px);
        }

        .eco-cont__imag__shadow--size{
            top: 8%;
            right: 30%;
            bottom: 8%;
            left: 30%;
            filter: blur(56px);
        }

}

    @media all and (min-width: 320px) and (max-width: 575px){

    .main-style {
        margin-left: 16px;
        margin-right: 16px;
    }

    header{
        margin-top: 12px;
        margin-left: 16px;
        margin-right: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: unset;
    }

    footer{
        margin-top: 88px;
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 32px;
    }
    
        .footer-nav{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 24px;
        }

    .logo-style {
        align-self: center;
    }

    .position-button{
        margin-top: 16px;
        align-self: center;
    }

    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }

        a{
            color: var(--labels-dark-2-secondary-label-color);
        }

    .banner-cont{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }
        .banner-cont__imag-cont{
            position: relative;
            margin-left: -16px;
            margin-right: -16px;
            overflow: hidden;
        }

        .banner-cont__imag-text{
            margin-top: -48%;
            gap: 20px;
        }

        .banner-cont__imag-cont--imag-size{
            margin-left: -10%;
            max-width: 150%;
            max-height: 150%;
        }

        .banner-cont__imag-text--imag size{
            max-width: 100%;
            max-height: 100%;
        }

    .projects-list{
        gap: 124px;  
        margin-top: 124px;
    }


    .pro-cont{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .pro-cont__imag{
            position: relative;
            order: 1;
        }

        .con_imag_right{
            margin-left: 0%;
            margin-right: 0%;
            width: 100%;
          }
          .con_imag_left{ 
            margin-left: 0%;
            margin-right: 0%;
            width: 100%;
          }

        .pro-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .pro-cont__imag__shadow--size-shadow{
            filter: blur(42px);
        }

        .pro-cont__descrioptio{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }

        .design-syst-cont__image__shadow--size{
            top: 4%;
            right: 30%;
            bottom: 4%;
            left: 32%;
            filter: blur(42px);
        }
    
        .shop2-cont__imag__shadow--size{
            filter: blur(42px);
        }

        .shop3-cont__imag__shadow--size{
            top: 0%;
            right: 35%;
            bottom: 15%;
            left: 35%;
            filter: blur(42px);
        }

        .bioprot-cont__imag__shadow--size{
            filter: blur(42px);
        }

        .book-cont__imag__shadow--size{
            top: 20%;
            right: 20%;
            bottom: 18%;
            left: 50%;
            filter: blur(42px);
        }

        .eco-cont__imag__shadow--size{
            top: 10%;
            right: 30%;
            bottom: 10%;
            left: 30%;
            filter: blur(42px);
        }


}
