@import url(text.css);
@import url(color.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--system-backgrounds-dark-1-system-background-primary);
}

header{
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-end;
}

footer{
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    align-items: flex-end;
    height: 88px;
    border-top: 1px solid var(--separators-dark-opaque);
    
}

.logo-style{
    flex-grow: 5;
    flex-basis: 0%;
    flex-shrink: 1;
}

nav{
    list-style: none;
    flex-grow: 7;
    flex-basis: 0%;
    flex-shrink: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.a-header{
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: var(--s2-subtitle-size);
    line-height: var(--s2-subtitle-height);
    letter-spacing: var(--s2-subtitle-spacing);
    cursor: pointer;
    color: var(--labels-dark-1-primary-label-color);
}

    .a-header::after { 
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 1px;
        width: 0;
        background: linear-gradient(102.73deg,#70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    .a-header:hover::after { 
        width: 100%; 
        left: 0; 
    }

    .a-nav-header{
        position: relative;
        padding-bottom: 4px;
        text-decoration: none;
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        font-size: var(--s2-subtitle-size);
        line-height: var(--s2-subtitle-height);
        letter-spacing: var(--s2-subtitle-spacing);
        cursor: pointer;
        color: var(--labels-dark-1-primary-label-color);
        background-image: url(../portofolio/line.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        
    }
    .a-nav-header::after { 
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 1px;
        width: 0;
        background: linear-gradient(102.73deg,#70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        }
    
        .a-nav-header:hover::after { 
        width: 100%; 
        left: 0; 
        }

.main-style {
    margin: auto;
    max-width: 1296px;
}

.banner-cont{
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

    .banner-cont__imag-cont{
        position: relative;
        flex: 5;
    }

    .banner-cont__imag-cont--imag-size{
        margin-left: -40%;
        max-width: 200%;
        max-height: 200%;
    }

    .banner-cont__imag-text{
        margin-top: 9%;
        position: relative;
        flex: 7;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .banner-cont__imag-text--imag-size{
        max-width: 100%;
        max-height: 100%;
    }

.app999-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .app999-cont__imag{
        position: relative;
        flex: 6;
    }

    .app999-cont__imag--imag-size{
        max-width: 93%;
        max-height: 93%;
        margin-left: 6%;
    }

    .app999-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .app999-cont__imag__shadow--size-shadow{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 30%;
        right:60%;
        bottom: 10%;
        left: 10%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .app999-cont__descrioptio{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }

.design-syst-cont{
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .design-syst-cont__image{
        position: relative;
        flex: 6;
    }

    .design-syst-cont__image--imag-size{
        max-width: 100%;
        max-height: 100%;
        margin-right: 6%;
    }

    .design-syst-cont__image__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .design-syst-cont__image__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 12%;
        right: 30%;
        bottom: 12%;
        left: 32%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .design-syst-cont__description{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }

.position-button{
    align-self: self-start;
    margin-top: 16px;
}

.shop2-cont{
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .shop2-cont__imag{
        position: relative;
        flex: 6;
    }

    .shop2-cont__imag--imag-size{
        max-width: 93%;
        max-height: 93%;
        margin-left: 6%;
    }

    .shop2-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .shop2-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right:50%;
        bottom: 10%;
        left: 8%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .shop2-cont__description{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }



.shop3-cont{
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .shop3-cont__imag{
        position: relative;
        flex: 6;
    }

    .shop3-cont__imag--imag-size{
        max-width: 93%;
        max-height: 93%;
        margin-right: 6%;
    }

    .shop3-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .shop3-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 0%;
        right: 35%;
        bottom: 0%;
        left: 35%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .shop3-cont__description{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }

.bioprot-cont{
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .bioprot-cont__imag{
        position: relative;
        flex: 6;
    }

    .bioprot-cont__imag--imag-size{
        max-width: 93%;
        max-height: 93%;
        margin-left: 6%;
    }

    .bioprot-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .bioprot-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right:40%;
        bottom: 10%;
        left: 24%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .bioprot-cont__description{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }


.book-cont{
    margin-top: 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

    .book-cont__imag{
        position: relative;
        flex: 6;
    }

    .book-cont__imag--size{
        max-width: 93%;
        max-height: 93%;
        margin-right: 6%;
    }

    .book-cont__imag__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .book-cont__imag__shadow--size{
        border-radius: 84px;
        transform: rotate(20deg);
        position: absolute;
        top: 10%;
        right: 20%;
        bottom: 18%;
        left: 50%;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(185.83deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        animation: animate 20s linear infinite;
    }

    .book-cont__description{
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex: 6;
    }

@keyframes animate {
    0%{
        transform: rotate(0deg);}
    100%{
        transform: rotate(360deg);
    }
}


.title-2-style{
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-headline-size);
    line-height: var(--h2-headline-height);
    letter-spacing: var(--h2-headline-spacing);
    color: var(--labels-dark-1-primary-label-color);
    margin: 0;
}

    .paragraph-0-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--b0-body-size);
        line-height: var(--b0-body-height);
        letter-spacing: var(--b0-body-spacing);
        color: var(--labels-dark-2-secondary-label-color);
        margin: 0;
    }
    .role-date{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    .role{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--s1-subtitle-size);
        line-height: var(--s1-subtitle-height);
        letter-spacing: var(--s1-subtitle-spacing);
        color: var(--labels-dark-1-primary-label-color);
    }

    .date{
        font-family: var(--font-default);
        font-style: italic;
        font-weight: var(--font-weight-bold);
        font-size: var(--s1-subtitle-size);
        line-height: var(--s1-subtitle-height);
        letter-spacing: var(--s1-subtitle-spacing);
        color: var(--labels-dark-2-secondary-label-color);
    }

.pictogram-24{
width: 24px;
height: 24px;
}

button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    padding: 14px 24px;
    gap: 12px;
    border-radius: 32px;
    
    font-family: var(--font-default);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    font-size: var(--bu1-button-size);
    line-height: var(--bu1-button-height);
    letter-spacing: var(--bu1-button-spacing);
    color: var(--labels-dark-1-primary-label-color);

    background: linear-gradient(#292A30, #292A30) padding-box,
    linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    border: 1px solid transparent; 
}

    button:hover{
        background: linear-gradient(#323338, #323338) padding-box,
        linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        border: 1px solid transparent; 
    }

    button:active{
        background: linear-gradient(#292A30, #292A30) padding-box,
        linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
        border: 1px solid transparent; 
    }

    .button-resize-butoon {
        padding-left: 48px;
        padding-right: 48px;
    }

@media all and (min-width: 1200px) and (max-width: 1400px){
    
    .main-style {
        margin-left: 32px;
        margin-right: 32px;
    }

    header{
        margin-left: 32px;
        margin-right: 32px;
    }
}
@media all and (min-width: 992px) and (max-width: 1199px){
    
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-left: 24px;
        margin-right: 24px;
    }

    .app999-cont__descrioptio {
        gap: 16px;
    }
        .app999-cont__imag__shadow--size-shadow{
            filter: blur(56px);   
  
        }

    .design-syst-cont {
        margin-top: 160px;
    }

        .design-syst-cont__description {
            gap: 16px;
        }

        .design-syst-cont__image__shadow--size {
            filter: blur(56px);   
        }

    .shop2-cont {
        margin-top: 160px;
    }

        .shop2-cont__description {
            gap: 16px;
        }

        .shop2-cont__imag__shadow--size {
            filter: blur(56px);  
        }

    .shop3-cont {
        margin-top: 160px;
    }
        .shop3-cont__description {
            gap: 16px;
        }

        .shop3-cont__imag__shadow--size {
            filter: blur(56px);  
        }

    .bioprot-cont {
        margin-top: 160px;
    }

        .bioprot-cont__description {
            gap: 16px;
        }

        .bioprot-cont__imag__shadow--size {
            filter: blur(56px);  
        }

    .book-cont {
        margin-top: 160px;
    }
        .book-cont__description {
            gap: 16px;
        }

        .book-cont__imag__shadow--size{
            filter: blur(56px);
        }


    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h3-headline-size);
        line-height: var(--h3-headline-height);
        letter-spacing: var(--h3-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

    .paragraph-0-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-default);
        font-size: var(--b0-body-size);
        line-height: 32px;
        letter-spacing: var(--b0-body-spacing);
        color: var(--labels-dark-2-secondary-label-color);
        margin: 0;
    }

}

@media all and (min-width: 768px) and (max-width: 991px){
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .app999-cont__descrioptio {
        gap: 16px;
    }
        .app999-cont__imag__shadow--size-shadow{
            filter: blur(48px);   

        }

    .design-syst-cont {
        margin-top: 160px;
    }

        .design-syst-cont__description {
            gap: 16px;
        }

        .design-syst-cont__image__shadow--size {
            filter: blur(48px);   
        }

    .shop2-cont {
        margin-top: 160px;
    }

        .shop2-cont__description {
            gap: 16px;
        }

        .shop2-cont__imag__shadow--size {
            filter: blur(48px);  
        }

    .shop3-cont {
        margin-top: 160px;
    }
        .shop3-cont__description {
            gap: 16px;
        }

        .shop3-cont__imag__shadow--size {
            filter: blur(48px);  
        }

    .bioprot-cont {
        margin-top: 160px;
    }
    
        .bioprot-cont__description {
            gap: 16px;
        }
    
        .bioprot-cont__imag__shadow--size {
            filter: blur(48px);  
        }

    .book-cont {
        margin-top: 160px;
    }
        .book-cont__description {
            gap: 16px;
        }

        .book-cont__imag__shadow--size{
            filter: blur(48px);
        }


    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }
        

}

@media all and (min-width: 576px) and (max-width: 767px){
    .main-style {
        margin-left: 24px;
        margin-right: 24px;
    }

    header{
        margin-top: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }

    nav {
        flex-grow: 24;
    }

    .position-button{
        margin-top: 16px;
        align-self: center;
    }
    
    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }


    .banner-cont{
        margin-top: 32px;
        display: flex;
        flex-direction: column;
    }
        .banner-cont__imag-cont{
            position: relative;
            margin-left: -16px;
            margin-right: -16px;
            overflow: hidden;
        }

        .banner-cont__imag-text{
            margin-top: -48%;
            gap: 20px;
        }

        .banner-cont__imag-cont--imag-size{
            margin-left: -10%;
            max-width: 150%;
            max-height: 150%;
        }

        .banner-cont__imag-text--imag size{
            max-width: 100%;
            max-height: 100%;
        }


    .app999-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .app999-cont__imag{
            position: relative;
            order: 1;
        }

        .app999-cont__imag--imag-size{
            max-width: 93%;
            max-height: 93%;
            margin-left: 6%;
        }

        .app999-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .app999-cont__imag__shadow--size-shadow{
            filter: blur(56px);
        }

        .app999-cont__descrioptio{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }


    .design-syst-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

        .design-syst-cont__image{
            position: relative;
        }

        .design-syst-cont__image--imag-size{
            max-width: 100%;
            max-height: 100%;
            margin-right: 0%;
        }

        .design-syst-cont__image__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .design-syst-cont__image__shadow--size{
            top: 4%;
            right: 30%;
            bottom: 4%;
            left: 32%;
            filter: blur(56px);
        }

        .design-syst-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
        

    .shop2-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .shop2-cont__imag{
            position: relative;
            order: 1;
        }

        .shop2-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-left: 0%;
        }

        .shop2-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .shop2-cont__imag__shadow--size{
            filter: blur(56px);
        }

        .shop2-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }

    .shop3-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

        .shop3-cont__imag{
            position: relative;
        }

        .shop3-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-right: 0%;
        }

        .shop3-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .shop3-cont__imag__shadow--size{
            top: 0%;
            right: 35%;
            bottom: 15%;
            left: 35%;
            filter: blur(56px);
        }

        .shop3-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

    .bioprot-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .bioprot-cont__imag{
            position: relative;
            order: 1;
        }

        .bioprot-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-left: 0%;
        }

        .bioprot-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .bioprot-cont__imag__shadow--size{
            filter: blur(56px);
        }

        .bioprot-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }


    .book-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

        .book-cont__imag{
            position: relative;
        }

        .book-cont__imag--size{
            max-width: 98%;
            max-height: 98%;
            margin-right: 0%;
        }

        .book-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .book-cont__imag__shadow--size{
            top: 20%;
            right: 20%;
            bottom: 18%;
            left: 50%;
            filter: blur(56px);
        }

        .book-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

    }

    @media all and (min-width: 320px) and (max-width: 575px){

    .main-style {
        margin-left: 16px;
        margin-right: 16px;
    }

    header{
        margin-top: 12px;
        margin-left: 16px;
        margin-right: 16px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: unset;
    }

    .logo-style {
        align-self: center;
    }

    .position-button{
        margin-top: 16px;
        align-self: center;
    }

    .title-2-style{
        font-family: var(--font-default);
        font-style: normal;
        font-weight: var(--font-weight-bold);
        font-size: var(--h4-headline-size);
        line-height: var(--h4-headline-height);
        letter-spacing: var(--h4-headline-spacing);
        color: var(--labels-dark-1-primary-label-color);
        margin: 0;
    }

        .paragraph-0-style{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-default);
            font-size: var(--b1-body-size);
            line-height: var(--b1-body-height);
            letter-spacing: var(--b1-body-spacing);
            color: var(--labels-dark-2-secondary-label-color);
            margin: 0;
        }

        .role-date{
            flex-wrap: wrap;
        }

        .role{
            font-family: var(--font-default);
            font-style: normal;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-1-primary-label-color);
        }

        .date{
            font-family: var(--font-default);
            font-style: italic;
            font-weight: var(--font-weight-bold);
            font-size: var(--s2-subtitle-size);
            line-height: var(--s2-subtitle-height);
            letter-spacing: var(--s2-subtitle-spacing);
            color: var(--labels-dark-2-secondary-label-color);
        }

        a{
            color: var(--labels-dark-2-secondary-label-color);
        }

.banner-cont{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
    .banner-cont__imag-cont{
        position: relative;
        margin-left: -16px;
        margin-right: -16px;
        overflow: hidden;
    }

    .banner-cont__imag-text{
        margin-top: -48%;
        gap: 20px;
    }

    .banner-cont__imag-cont--imag-size{
        margin-left: -10%;
        max-width: 150%;
        max-height: 150%;
    }

    .banner-cont__imag-text--imag size{
        max-width: 100%;
        max-height: 100%;
    }


    .app999-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .app999-cont__imag{
            position: relative;
            order: 1;
        }

        .app999-cont__imag--imag-size{
            max-width: 93%;
            max-height: 93%;
            margin-left: 6%;
        }

        .app999-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .app999-cont__imag__shadow--size-shadow{
            filter: blur(42px);
        }

        .app999-cont__descrioptio{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }


    .design-syst-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

        .design-syst-cont__image{
            position: relative;
        }

        .design-syst-cont__image--imag-size{
            max-width: 100%;
            max-height: 100%;
            margin-right: 0%;
        }

        .design-syst-cont__image__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .design-syst-cont__image__shadow--size{
            top: 4%;
            right: 30%;
            bottom: 4%;
            left: 32%;
            filter: blur(42px);
        }

    .design-syst-cont__description{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    

    .shop2-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .shop2-cont__imag{
            position: relative;
            order: 1;
        }

        .shop2-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-left: 0%;
        }

        .shop2-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .shop2-cont__imag__shadow--size{
            filter: blur(42px);
        }

        .shop2-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }

    .shop3-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

        .shop3-cont__imag{
            position: relative;
        }

        .shop3-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-right: 0%;
        }

        .shop3-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .shop3-cont__imag__shadow--size{
            top: 0%;
            right: 35%;
            bottom: 15%;
            left: 35%;
            filter: blur(42px);
        }

        .shop3-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

    .bioprot-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

        .bioprot-cont__imag{
            position: relative;
            order: 1;
        }

        .bioprot-cont__imag--imag-size{
            max-width: 98%;
            max-height: 98%;
            margin-left: 0%;
        }

        .bioprot-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .bioprot-cont__imag__shadow--size{
            filter: blur(42px);
        }

        .bioprot-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
            order: 2;
        }


    .book-cont{
        margin-top: 124px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

        .book-cont__imag{
            position: relative;
        }

        .book-cont__imag--size{
            max-width: 98%;
            max-height: 98%;
            margin-right: 0%;
        }

        .book-cont__imag__shadow{
            max-width: 100%;
            max-height: 100%;
        }

        .book-cont__imag__shadow--size{
            top: 20%;
            right: 20%;
            bottom: 18%;
            left: 50%;
            filter: blur(42px);
        }

        .book-cont__description{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

}
