@import url(text.css);
@import url(color.css);

.about-prim{
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

    .about-prim__image{
    position: relative;
    }

    .about-prim__image--line{
    max-width: 100%;
    max-height: 100%;
    border-radius: 24px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    border: 1px solid transparent;
    z-index: 2;
    }

    .about-prim__image__shadow{
        max-width: 100%;
        max-height: 100%;
    }

    .about-prim__image__shadow--blur{
        border-radius: 84px;
        position: absolute;
        top: 13%;
        right:0;
        bottom: 13%;
        left:0;
        z-index: -1;
        filter: blur(80px);
        background: linear-gradient(102.73deg, #3862F8 5.23%, #70C6BB 21.57%, #88EB77 30.84%, #ACED57 36.34%, #D1E435 42.94%, #EDCD32 51.54%, #ECB229 59.03%, #E06930 69.69%, #DA1482 87.93%) border-box;
    }

    .about-prim__article{
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    .strong--color{
        color: var(--labels-dark-1-primary-label-color);
    }


@media all and (min-width: 1200px) and (max-width: 1400px){
    
}

@media all and (min-width: 992px) and (max-width: 1199px){
    
}

@media all and (min-width: 768px) and (max-width: 991px){

    .about-prim {
        margin-top: 56px;
        gap: 32px;
    }

    .about-prim__image--line {
        border-radius: 16px;
    }

    .about-prim__article {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

}

@media all and (min-width: 576px) and (max-width: 767px){
    .about-prim {
        margin-top: 56px;
        gap: 32px;
    }

    .about-prim__image--line {
        border-radius: 16px;
    }

    .about-prim__article {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

}

@media all and (min-width: 320px) and (max-width: 575px){

    .about-prim {
        margin-top: 48px;
        gap: 32px;
    }

    .about-prim__image--line {
        border-radius: 16px;
    }

    .about-prim__article {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}



